
*{
	box-sizing:border-box;
}
.column{
	width:300px;
	height:300px;
	padding:50px;
	padding-left:80px;
	float:left;
	position:relative;
}
.row:after{
	display:table;
	clear:both;
}

.image{
	opacity:1;
	border:1px solid grey;
	transition:.5s ease;
	border-radius:70%;
}
.column:hover .image{
	opacity:.2;
}
.column:hover .textpos{
	opacity:1;
}
.containerimg{
	position:relative;
}
.textpos{
	position:absolute;
	top:70px;
	left:50px;
	opacity:0;

}
.textpos h3{
	font-family:Verdana;;
	color:black;
	font-weight:bold;
	font-size:30px;
}
