@font-face {
    font-family:"customrubik";
    src:url('fonts/rubik.ttf');
}
@font-face {
    font-family: "customnunito";
    src: url('fonts/nunito.ttf');

}
@font-face {
    font-family: "customroboto";
    src: url('fonts/Roboto.ttf');

}
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-family:"Bree Serif";
      font-size:40px;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      font-family:customrubik;
      line-height: 1.375em;
      color: #303030;
      margin-bottom: 30px;
  }

  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
.bg-blue {
      background-color:#EDC3BA;
  }
.text-ctr

{
text-align:center;
}


 .imagegal {
      padding: 0px 0px 15px 0px;
      border: none;
      border-radius: 0;
      background-color:#ffffff;
  }
 .imagegal img {
      width:100%;
      padding:15px;
      margin-bottom: 10px;
  }
