@font-face {
    font-family:"customrubik";
    src:url('fonts/rubik.ttf');
}
@font-face {
    font-family: "customnunito";
    src: url('fonts/nunito.ttf');

}
@font-face {
    font-family: "customroboto";
    src: url('fonts/Roboto.ttf');

}
.form-control
{
  font-family: 'customroboto';
}
.form-group
{
  width:80%;
  padding-left: 3%;
}


.btn.btn-success,.btn.btn-danger
{
    margin: 30px 30px;
    font-size: 16px;
    padding: 6px 15px;
    font-family:'customrubik';
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 20px;
}

.btn.btn-success:hover,.btn.btn-danger:hover
{

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#formhead {
    background-color: #e0e0e0;
    padding-top: 2;
    padding-left: 10;
    font-size: 23;
    font-family: 'Agency FB';
    color: black;
    border-radius: 10px;
   }
textarea
{
  resize: none;
}
.well.well-sm{
    font-family: 'customnunito';
    font-size: 3;
    border: 2px solid powderblue;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 15px;

}
.well.well-lg{
    background-color: white;
    font-family: 'customnunito';
    font-size: 3;
    border: 2px solid powderblue;
    margin-left:0;
    margin-right:0;

}

.well{
    font-family:  'customnunito';
    font-size: 20;
    color: #313131;
    border: 2px solid powderblue;
    margin-left: 6%;
    margin-right: 6%;

}
h1{
    font-family: 'customrubik';
}

#tchead{
    font-family:'customrubik';
    color:#616161;
    padding-top: 19;
    padding-bottom: 13;
}
#inhead{
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 35;
}
#form{
    padding-left: 10%;
    font-family:'customnunito';
    color:#616161;
}
.form-control
   {
    font-size:13pt;
  }

footer{
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color:#bdbdbd;
    padding-bottom: 2%;

}

#action{
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  color:#424242;
  font-size: 20;


}


#imp{
    font-family: sans-serif;
    color: red;
}
#dpdown{
    font-family: 'customrubik'!important;
}

.header{
    font-family: 'customrubik'!important;
}

.row{
    font-family: 'customnunito';
}
