@font-face {
    font-family:"customrubik";
    src:url('fonts/rubik.ttf');
}
@font-face {
    font-family: "customnunito";
    src: url('fonts/nunito.ttf');

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:'customrubik';
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 20px;
}
.button:hover{
  background-color: #1B5E20;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sbutton:hover{
  background-color: #757575;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.sbutton {
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  background-color: #26a69a;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif  ;
  border-radius: 20px;
}
#formhead {
    background-color: #e0e0e0;
    padding-top: 2;
    padding-left: 10;

    font-size: 23;
    font-family: 'Agency FB';
    color: black;
   }
#formbody{
    background-color: white;
    font-family: 'customnunito';
    font-size: 3;
    border: 2px solid powderblue;
    margin-left: 32%;
    margin-right: 32%;

}
#formbody1{
    background-color: white;
    font-family: 'customnunito';
    font-size: 3;
    border: 2px solid powderblue;
    margin-left:0;
    margin-right:0;

}

#siframe{
    margin-right: 5%;
    font-family: 'customrubik';
    font-size: 19;
    color:#1b5e20;
    font-weight:bold;
    padding-bottom: 5;
}

#tandc{
    background-color: white;
    font-family:  'customnunito';
    font-size: 20;
    color: #313131;
    border: 2px solid powderblue;
    margin-left: 6%;
    margin-right: 6%;

}
h1{
    font-family: 'customrubik';
}

#tchead{
    font-family:'customrubik';
    color:#616161;
    padding-top: 19;
    padding-bottom: 13;
}
#inhead{
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 35;
}
#form{
    padding-left: 10%;
    font-family:'customnunito';
    color:#616161;
}
#fname,#sname,#email
   {
    font-size:13pt;
    height:25px;
    width:250px;
    font-family:'Lato', sans-serif;
   }

#institution{
    width:360px;
}

#address,#otherabilities{
    resize: none;
    font-size: 13pt;
}


#footer{
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color:#424242;
    padding-bottom: 2%;

}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#action{
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  color:#424242;
  font-size: 20;


}

body{

  background-repeat: no-repeat;
}

#imp{
    font-family: sans-serif;
    color: red;
}
#dpdown{
    font-family: 'customrubik'!important;
}

.header{
    font-family: 'customrubik'!important;
}

.row{
    font-family: 'customnunito';
}
